body {
  padding: 0;
  margin: 0;
  background: #fcfcfc;
}

a:visited {
  color: blue;
}

.content {
  margin-top: 10px;
}

.string {
  color: green;
}
.string:before {
  content: "\"";
}
.string:after {
  content: "\"";
}

.key {
  float: left;
  color: black;
  font-weight: bold;
}
.key:before {

}
.key:after {
  content: ": ";
}

.object:before {
  content: "{";
}
.object:after {
  content: "}";
}

.array:before {
  content: "[";
}
.array:after {
  content: "]";
}

.number {
  color: blue;
}

.boolean {
  color: orange;
}

.item {
  /* float: left; */
}
.item:after {
  /* content: ","; */
}
.item:last-child:after {
  content: "";
}

.level {
  margin-left: 15px;
}

.headers {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}