body {
  padding: 0;
  margin: 0;
  background: #002B37;
}

form {
  margin-bottom: 0;
}

input,
pre {
  font-family: Menlo, Consolas, monospace;
  font-size: 13px;
}

.content {
  margin-top: 10px;
}

.string:before {
  content: "\"";
}
.string:after {
  content: "\"";
}

.key {
  float: left;
  color: #829496;
  font-weight: bold;
}
.key:before {

}
.key:after {
  content: ": ";
}

.object:before {
  content: "{";
}
.object:after {
  content: "}";
}

.array:before {
  content: "[";
}
.array:after {
  content: "]";
}

.item {
  /* float: left; */
}
.item:after {
  /* content: ","; */
}
.item:last-child:after {
  content: "";
}

.level {
  margin-left: 18px;
}

.headers {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #033643;
  padding: 10px;
  border-radius: 5px;
  color: #829496;
}

.headers input {
  color: #829496;
}

a,
a:visited,
a:hover {
  color: #1C89D5;
}
.string {
  color: #2F874C;
}
.number,
.boolean {
  color: #859900;
}
.object,
.array {
  color: #576E75;
}
.object.form {
  background: #032E3A;
  border-radius: 5px;
}
input {
  padding: 5px;
  background: #002B37;
  color: #FDF6E2;
  border: 1px solid #576E75;
  border-color: #576E75;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input:hover,
input:focus {
  outline: 0;
  border-color: #20A198;
}
input:focus {
  border-color: #B68A00;
}