/**
 * Module dependencies
 */

@require 'shoelace-ui-font-family'
@require 'shoelace-ui-font-size'
@require 'shoelace-ui-palette-solarized'
@require 'shoelace-ui-reset'
@require 'shoelace-ui-transition'

search-size = 30px

pre
  font-family('monospace')
  font-size('small')
  padding-bottom search-size

.item
  margin-left 20px

.item.active
  transition background short linear
  background lighten(palette--gray-lightest, 40%)

.value
  display inline

.boolean,
.null,
.number
  color palette--yellow

.string
  color palette--green

a,
a:visited
  color palette--blue

.key a
  color palette--gray-darker
  text-decoration initial

.key a:hover
  text-decoration underline

.hyper-form
  margin 0
  display inline

.headers
  font-family('monospace')
  font-size('small')
  background #f1f1f1
  position fixed
  bottom 5px + search-size
  right 5px
  padding 10px
  border-radius 5px

.search
  height search-size
  width 100%
  position fixed
  bottom 0
  left 0
  right

  input
    border none
    outline palette--blue 1px solid
    padding 5px
    height 100%
    width 100%
    font-family('monospace')
    font-size('small')

    &:focus
      border none
      outline palette--blue 1px solid
