.item {
  margin-left: 20px;
}

.value {
  display: inline;
}

.boolean, .null, .number {
  color: #B58900;
}

.string {
  color: #859900;
}

a,
a:visited {
  color: #268BD2;
}

.key a {
  color: #073642;
  text-decoration: initial;
}

.key a:hover {
  text-decoration: underline;
}

.hyper-form {
  margin: 0;
  display: inline;
}